In [ ]:
import pandas as pd 
df = pd.read_csv('salary.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df.salary_more_then_100k

In [ ]:
from sklearn.preprocessing import LabelEncoder

l_company = LabelEncoder()
l_job = LabelEncoder()
l_degree = LabelEncoder()

In [ ]:
inputs['enc_company'] = l_company.fit_transform(inputs['company'])
inputs['enc_job'] = l_job.fit_transform(inputs['job'])
inputs['enc_degree'] = l_degree.fit_transform(inputs['degree'])

In [ ]:
inputs.head()

  company                  job     degree  enc_company  enc_job  enc_degree
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [ ]:
features = inputs.drop(['company', 'job', 'degree'], axis='columns')
features.head()

   enc_company  enc_job  enc_degree
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

In [ ]:
from sklearn import tree 

model = tree.DecisionTreeClassifier()
model.fit(features, target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.score(features,target)

1.0